<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <% if(session.user.id == null) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/user/<%= session.user.id %>">Witaj! <%= session.user.name %></a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Shop Name</h1>
            <div class="list-group">
                <a href="/list" class="list-group-item">All items</a>
                <% categories.forEach(function (category) { %>
                    <a href="/list/<%= category.category%>" class="list-group-item"><%= category.category %></a>
                <% }) %>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group input-group-lg">
                        <input id="search" type="text" class="form-control"
                               placeholder="<%= typeof searchquery === 'undefined' ? 'Enter product name...' : searchquery %>">
                        <span class="input-group-btn">
                    <button id="search-btn" class="btn btn-info" type="button">Search</button>
                </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <% if(typeof catname !== 'undefined') {%>
                        <h2><%= catname %></h2>
                    <% } %>

                    <% if(typeof searchquery !== 'undefined') {%>
                        <h2>Search for '<%= searchquery %>':</h2>
                    <% } %>

                    <h4 class="text-muted">Found <%= items.length %> items</h4>
                </div>
            </div>

            <div class="row">
                <% items.forEach(function (item) { %>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="<%= item.image %>" alt="<%= item.name %>"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/item/<%= item.name %>"><%= item.name %></a>
                            </h4>
                            <h5><%= item.price %> zł</h5>
                            <p class="card-text">Kategoria: <b><%= item.category %></b></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/javascripts/index.js"></script>

</body>

</html>
